# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
.env

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# native build folders
# Assuming CNG kind of workflow so native folders need not be manually edited
android
ios

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#private keys and credentials
credentials.json
credentials  

#build aab files
*.aab