# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
.env

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# native build folders
# Assuming CNG kind of workflow so native folders need not be manually edited
android
ios

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#private keys and credentials
credentials.json
credentials  
debug.keystore

#build aab files
*.aab
*.apk
*.ipa

#api keys
firebase2
firebase/firebaseConfig.ts
firebase/GoogleService-Info.plist
firebase/google-services.json
firebase/client_secret_667258439454-eiitfa8b7cqufjjqeogdsk9o5fa8dpte.apps.googleusercontent.com.json